html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
}

header {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    animation: slideUp 1s ease-out;
}
  
header .bg-image {
    background-image: url("RM7.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

  
header h1 {
    font-size: 64px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
}
  
header p {
    font-size: 24px;
    margin-bottom: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header a {
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* Add slide-up animation for sections */
@keyframes slideUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

section {
    animation: slideUp 1s ease-out;
}

section#projects {
    background-color: black;
    padding: 50px;
    color: white;
}

section#projects h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section#projects li {
    margin-bottom: 40px;
}

section#projects h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

section#projects p {
    color: white;
}

section#projects h3:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* Style resume section */
section#resume {
    background-color: black;
    padding: 50px;
    color: white;
}

section#resume h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section#resume p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}

section#resume a {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

section#resume a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Style contact section */
section#contact {
    background-color: black;
    color: white;
    padding: 50px;
}

section#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section#contact form {
    display: flex;
    flex-direction: column;
}

section#contact label {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

section#contact input,
section#contact textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
    background-color: white;
}

section#contact button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

section#contact button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Media queries */
@media (max-width: 768px) {
    header {
        height: 400px;
    }

    header h1 {
        font-size: 48px;
        margin-bottom: 10px;
    }

    header p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    section {
        padding: 20px;
    }

    section h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    section#projects li {
        margin-bottom: 20px;
    }

    section#contact label,
    section#contact input,
    section#contact textarea,
    section#contact button {
        font-size: 14px;
    }
}
